﻿.ProductDetails {    
    padding-top: 50px;
    width: 100%;
}

.ProductDetails > div {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
}

.ProductDetails p {
    font-size: 1.4rem;
}

.ProductDetails > div > div {
    width: 200px;
}

.Row {
    display: flex;
    justify-content: space-between;
}