﻿.Sidebar {
    left: 0;
    top: 0;
    bottom: 0;
    width: 80%;
    max-width: 300px;
    padding: 20px 10px;
    box-sizing: border-box;
    background: #fff;
    /*transform: translateX(0px);*/
    z-index: 90;
    display: block;
}

.Sidebar.close {
    display: none;
}

.Sidebar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.Sidebar ul li {
    margin-bottom: 15px;
    background-color: #fff;
}

.Sidebar ul li a {
    color: #363f54;
    font-size: 30px;
    text-decoration: none;
    position: relative;
    padding: 0 20px 10px 20px;
    transition: opasity .3s;
    width: auto;
    display: block;
}

.Sidebar ul li a:hover, .active {
    opacity: .7;
}